[submodule "RobocupSSLController"]
	path = RobocupSSLController
	url = https://github.com/RoboCupSSL-IU/RobocupSSLController
	branch = master
[submodule "ssl-ROS-system"]
	path = ssl-ROS-system
	url = https://github.com/RoboCupSSL-IU/ssl-ROS-system
	branch = master
[submodule "ssl-vision"]
	path = ssl-vision
	url = https://github.com/RoboCup-SSL/ssl-vision
	branch = master
[submodule "grSim"]
	path = grSim
	url = https://github.com/RoboCup-SSL/grSim
	branch = master
